<form class="form">
    <fieldset>
        <label class="label" for="bill">Bill</label>
        <input class="input" type="number" id="bill" placeholder="0" style="background-image: url(svg/icon-dollar.svg)">
    </fieldset>

    <fieldset>
        <div class="label">Select Tip %</div>
        <div class="btns">
            <label class="btn">
                <input type="radio" name="percentage" value="5">
                <div class="faux-btn">5%</div>
            </label>

            <label class="btn">
                <input type="radio" name="percentage" value="10">
                <div class="faux-btn">10%</div>
            </label>

            <label class="btn">
                <input type="radio" name="percentage" value="15">
                <div class="faux-btn">15%</div>
            </label>

            <label class="btn">
                <input type="radio" name="percentage" value="25">
                <div class="faux-btn">25%</div>
            </label>

            <label class="btn">
                <input type="radio" name="percentage" value="50">
                <div class="faux-btn">50%</div>
            </label>

            <input type="radio" name="percentage" value="1" id="custom-override" hidden>
            <input class="input" id="custom" type="number" placeholder="Custom">

        </div>
    </fieldset>

    <fieldset>

        <label class="label" for="peoples">Number of People</label>
        <input class="input" type="number" id="peoples" placeholder="0"
            style="background-image: url(svg/icon-person.svg)">
    </fieldset>
</form>