<div class="repeater-item">
    {{#if item-title}}
    <div>{{ item-title }}</div>
    {{/if }}

    {{#if item-image}}
    <img src="{{ item-image }}" alt="" class="">
    {{/if }}

    {{#if item-subtitle}}
    <div>{{ item-subtitle }}</div>
    {{/if }}

    {{#if item-text}}
    <div>{{ item-text }}</div>
    {{/if }}
</div>