<div class="result">
    <dl>
        <dt>Tip Amount<div>/ person</dt>
        <dd>
            <input type="text" class="calculation" id="tip-amount" placeholder="&dollar;0.00" readonly>
        </dd>
    </dl>
    <dl>
        <dt>
            Total<div>/ person</div>
        </dt>
        <dd>
            <input type="text" class="calculation" id="total" placeholder="&dollar;0.00" readonly>
        </dd>
    </dl>
    <button type="reset" id="reset" class="reset">RESET</button>
</div>